body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    height: 275px;
    z-index: 0;
}

#banner {
	padding: 0 0;
}

.search-box .row {
    position: relative;
    display: block;
    margin-top: -70px !important;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
}

#row-search{
	margin-bottom: 135px;
}


.c-img {
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
	object-position: 100% 10%;
}


.search-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: flex-end;

}


label {
    font-size: 17px;
    font-weight: 550;
}

#input, #datepicker {
    width: 180px;
    height: 50px;
    font-size: 19px;
    font-weight: 550!important;
    color: #0b0a1282!important;
    border-radius: 10px;
}

#search-button{
	background-color: #5143d9;
    border-color: #5143d9;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    font-size: 17px;
    font-weight: 550;
    border-radius: 10px;
}

#search-button:hover {
	background-color: #053783;
	border-color: #053783;
}

#button {
    background-color: #5143d9;
    border-color: #5143d9;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 550;
}

#button:hover {
	background-color: #053783;
	border-color: #053783;	
}

h4 {
    color: #053783;
    font-weight: 550;
}

#booking-btn {
    background-color: #5143d9;
    border-color: #5143d9;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 550;
}

#booking-btn:hover {
	background-color: #053783;
	border-color: #053783;	
}

#disabled-btn{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: rgb(128, 0, 64);
    font-size: 14px;
    font-weight: 550;
}

.hidden {
  visibility: hidden;
}

#error{
	font-size: 14px;
	font-weight: 550;
	padding: 5px;
	margin-top: 3px;
}

::placeholder{
	color: #0b0a1282!important;
}

.footer {
	background-color: #053783;
	font-size: 15px;
	color: #fff;
	position: fixed;
	width: 100%;
	bottom: 0;
}