body {
	background-color: #ff99c2;
	background-image:
		radial-gradient(at 45% 91%, hsla(216, 66%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 88% 18%, hsla(191, 60%, 65%, 1) 0px, transparent 50%),
		radial-gradient(at 81% 75%, hsla(278, 94%, 78%, 1) 0px, transparent 50%),
		radial-gradient(at 93% 29%, hsla(338, 76%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 76% 77%, hsla(106, 94%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 10%, hsla(68, 76%, 64%, 1) 0px, transparent 50%),
		radial-gradient(at 59% 65%, hsla(307, 72%, 73%, 1) 0px, transparent 50%);
}

.question {
	font-size: 17px;
	text-align: center;
	font-weight: bold;
}

nav {
	background-color: #79B4A9 !important;
	font-size: 20px;
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: #5c5b50;
}

.navbar-default .navbar-nav>li>a {
	color: #5c5b50;
}

.text-center {
	text-align: center;
}

.form-container {
	background-color: aliceblue;
	border-radius: 10px;
	padding: 5%;
	display: inline-block;
	width: auto;
	margin: 0 auto;
}

.container {
	opacity: 1;
	border-radius: 10px;
	display: block;
	background-color: #D7F2BA;
	padding: 3%;
}

.container-footer {
	margin: 10px;
	opacity: 1;
	display: block;
	background-color: #D7F2BA
}

.footer {
	margin-top: 5%;
	background-color: #79B4A9;
	padding: 20px;
	text-align: center;
}

h2 {
	font-size: 17px;
	font-weight: bold;
}

.table-container {
	margin: 20px;
}

.footer p {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	color: rgb(128, 0, 64);
	margin-bottom: 0;
}